
body{
    margin: 0;
    width: 100wv;
    height: 100vh;
     display: flex;
    align-items: center;
    justify-content: center;
}
select{
    width: 15%;
    height: 30px;
    text-align: center;
}